/* Center and make the container responsive */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 20px;
}

/* Card styles */
.card {
  transition: transform ease-in-out 0.3s;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
}

/* Modal styles */
.modal {
  backdrop-filter: blur(8px);
}

.modal-content {
  border-radius: 20px;
  background-color: #ffffff;
  color: #222831;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Button styles */
.btn {
  margin: 2rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}
