.container {
  background-color: #4D869C;
  border-radius: 20px;
  box-shadow: 5px 20px 50px #222831;
  margin: 5rem auto;
}

.card {
  /* ease | ease-in | ease-out | linear */
  transition: transform ease-in-out 0.3s;
  background-color: #EEF7FF;
}

.card:hover {
  transform: scale(1.2);
}

.modal {
  backdrop-filter: blur(8px);
}

.modal-content {
  border-radius: 20px;
  background-color: #EEF7FF;
  color: #222831;
  box-shadow: 5px 20px 50px #222831;
}

.btn {
  background-color: #CDE8E5;
  margin: 2rem;
}

.btn:hover {
  background-color: #EEF7FF;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #4D869C;
  border: 1px solid #4D869C;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
